@CHARSET "UTF-8";

div.table_container {
    position: relative;
    height: 100%;
    min-height: 200px;
    min-width: 700px;
    border-left: 1px solid #EFEFEF;
    border-right: 1px solid #EFEFEF;
}

.table_container .table_top_container {
    position: relative;
}

.table_top_container .table_body_container_parent {
    position: relative;
}

.table_top_container .table_header_container {
    position: relative;
    height: 39px;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    border-left: 0px;
    border-right: 0px;
    cursor: default;
}

.table_container, .table_top_container, .table_body_container_parent, .table_header_container {
    overflow: hidden;
}

.table_header_container .table_header_scroll_bar {
    position: absolute;
    right: -1px;
    border-left: 1px solid #E6E6E6;
    height: 100%;
    z-index: 11;
}

.table_header_container, .table_header_container .table_header_scroll_bar {
    background-image: url("../images/table/header-bg-default.png");
    background-repeat: repeat-x;
}

.table_header_container .fixed_header {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 39px;
    z-index: 100;
}

.table_header_container .drawable_header {
    position: relative;
    top: 0px;
    height: 39px;
    z-index: 10;
}

.header_table, .body_table {
    table-layout: fixed;
    border: 0px;
    width: 100%;
}

.header_table td {
    border-right: 1px solid #E1E1E1;
}

.header_table td, .header_table td .header_content_container {
    position: relative;
    line-height: 39px;
    height: 39px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    cursor: default;
}

.header_table td.mouseover {
    background-image: url("../images/table/header-bg-hover.png");
}

.header_table td.mousedown {
    background-image: url("../images/table/header-bg-down.png");
}

.mousedown>.header_content_container {
    bottom: -1px;
    right: -1px;
}

.mouseover>.header_content_container, .mousedown>.header_content_container {
    color: #800000;
}

.header_content_container_marginright {
    margin-right: 10px;
}

.header_table td .sort_container {
    width: 10px;
    height: 39px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    border-left: 1px solid #E3E3E3;
    background-repeat: no-repeat;
    background-position: center;
}

.header_table td .sort_asc {
    background-image: url("../images/table/sort_asc.png");
}

.header_table td .sort_desc {
    background-image: url("../images/table/sort_desc.png");
}

.table_body_container_parent .table_body_container {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

.table_body_container .fixed_body {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 100;
}

.table_body_container .drawable_body {
    z-index: 90;
}

/*抽取四个表格对象外层div容器共有属性overflow*/
.drawable_header, .drawable_body, .fixed_header, .fixed_body {
    overflow: hidden;
}

/*IE6及以下版本的自适应特性支持*/
.drawable_header, .drawable_body {
    _width: 100%;
}

.body_table td {
    font-size: 13px;
    text-align: left;
    height: 33px;
    line-height: 33px;
    border-right: 1px solid #4E4E4E;
    border-bottom: 1px solid #565656;
    cursor: default;
}

.header_table td, .header_table td *, .body_table td, .body_table td * {
    white-space: nowrap;
    vertical-align: middle;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
}

.body_table td * {
    margin-left: 5px;
    margin-right: 5px;
}

.body_table td:hover {
    background-color: #FFC184;
    color: #800000;
    -moz-box-shadow: 2px 4px 6px #CFCFCF;
    -webkit-box-shadow: 2px 4px 6px #CFCFCF;
    box-shadow: 2px 4px 6px #CFCFCF;
}

.body_table .row_odd_bg {
    background-color: #404040;
}

.body_table .row_double_bg {
    background-color: #010101;
}

.body_table .row_bg_hover {
    background-color: #FFFADF;
}

.row_bg_hover td {
    border-bottom: 1px solid #800000;
}

.body_table td:hover, .body_table .row_bg_hover, .row_bg_hover td {
    transition-property: background-color, border-bottom;
    -moz-transition-property: background-color, border-bottom;
    -webkit-transition-property: background-color, border-bottom;
    -o-transition-property: background-color, border-bottom;
    transition-duration: 0.5S;
    -moz-transition-duration: 0.5S;
    -webkit-transition-duration: 0.5S;
    -o-transition-duration: 0.5S;
    transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
}

.table_container .table_bottom_container {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    z-index: 110;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.table_bottom_container .horizontal_scroll_bar_container {
    position: relative;
    overflow: hidden;
    background-color: #ECECEC;
}

.horizontal_scroll_bar_container .horizontal_scroll_bar {
    position: relative;
    overflow-y: hidden;
    overflow-x: auto;
    height: 20px;
}

.table_bottom_container .pagination_bar {
    position: relative;
    height: 40px;
    background-image: url("../images/table/pagination-bar-bg.png");
    background-repeat: repeat-x;
    border-top: 1px solid #ECECEC;
}

.pagination_bar .pagination_table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 0px;
}

.pagination_table td {
    table-layout: fixed;
    height: 39px;
    line-height: 39px;
    border-collapse: collapse;
    border: 0px;
    vertical-align: middle;
}

.pagination_table td * {
    vertical-align: middle;
}

.pagination_table td label {
    font-weight: bold;
    margin-left: 10px;
}

.pagination_table .pagination_btn_td {
    text-align: right;
    padding-right: 10px;
}

.pagination_btn_td div[id^=icon_btn_], .pagination_btn_td input {
    margin-right: 15px;
}