<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.linhai.nature.j2ee.core.dao.IBaseMapper">

    <!-- 公共的结果映射类型 -->
    <resultMap id="BaseResultMap" type="HashMap" />

    <!-- 公共动态自定义查询条件 -->
    <sql id="Common_Where">
        <if test="where != null">
            <where>
                <foreach open=" " close=" " collection="where.conditionSegmentList" index="index" item="conditionSegment" separator=" ">
                    <choose>
                        <when test="conditionSegment.type == 1">
                            ${conditionSegment.fieldName} ${conditionSegment.operator} #{conditionSegment.value, jdbcType=${conditionSegment.jdbcType}}
                        </when>
                        <when test="conditionSegment.type == 2">
                            ${conditionSegment.fieldName} ${conditionSegment.operator}
                            <foreach collection="conditionSegment.valueList" index="index" item="value" open="(" separator=", " close=")">
                                #{value, jdbcType=${conditionSegment.jdbcType}}
                            </foreach>
                        </when>
                        <when test="conditionSegment.type == 3">
                            ${conditionSegment.fieldName} ${conditionSegment.operator}
                        </when>
                        <when test="conditionSegment.type == 4">
                            ${conditionSegment.segment}
                        </when>
                        <otherwise>
                            ${conditionSegment.segment}
                        </otherwise>
                    </choose>
                </foreach>
            </where>
        </if>
    </sql>

    <!-- 通用的查询部分sql -->
    <sql id="Common_Find">
        select

        <!-- 添加需要返回的字段信息 -->
        <foreach collection="returnFieldList" index="index" item="returnField" open=" " separator=", " close=" ">
            ${returnField}
        </foreach>
        from ${tableName}

        <!-- 添加动态自定义查询条件 -->
        <include refid="Common_Where" />

        <!-- 添加排序字段信息 -->
        <if test="sortFieldList != null">
            <foreach collection="sortFieldList" index="index" item="orderField" open=" order by " separator=", " close=" ">
                ${orderField.fieldName} ${orderField.direction}
            </foreach>
        </if>
    </sql>

    <!-- 根据查询条件删除 -->
    <delete id="delete" parameterType="BaseQuery">
        delete from ${tableName}

        <!-- 添加动态自定义查询条件 -->
        <include refid="Common_Where" />
    </delete>

    <!-- 添加 -->
    <insert id="save" parameterType="BaseEntity" useGeneratedKeys="true" keyProperty="id">
        insert into ${tableName}
        <foreach collection="persistentFieldList" index="index" item="persistentField" open="(" separator=", " close=")">
            ${persistentField.tableFieldName}
        </foreach>
        <foreach collection="persistentFieldList" index="index" item="persistentField" open="values (" separator=", " close=")">
            #{persistentField.value, jdbcType=${persistentField.jdbcType}}
        </foreach>
    </insert>

    <!-- 修改 -->
    <update id="update" parameterType="BaseEntity">
        update ${tableName}
        <set>
            <foreach collection="persistentFieldList" index="index" item="persistentField" open=" " separator=", " close=" ">
                ${persistentField.tableFieldName} = #{persistentField.value,
                jdbcType=${persistentField.jdbcType}}
            </foreach>
        </set>

        <!-- 添加动态自定义条件 -->
        <include refid="Common_Where" />
    </update>

    <!-- 组合查询函数，支持分页功能 -->
    <select id="find" parameterType="BaseQuery" resultMap="BaseResultMap">
        <choose>
            <when test="@pers.linhai.nature.j2ee.core.model.DatabaseType@isMySQL()">
                <include refid="Common_Find" />
                <if test="offset != null and size != null">
                    limit ${offset}, ${size}
                </if>
            </when>
            <when test="@pers.linhai.nature.j2ee.core.model.DatabaseType@isOracle()">
                <if test="offset != null and size != null">
                    select * from ( select row_.*, rownum rownum_ from (
                </if>
                <include refid="Common_Find" />
                <if test="offset != null and size != null">
                    <![CDATA[
                        ) row_ where rownum <= (${offset} + ${size})) where rownum_ > ${offset}
                    ]]>
                </if>
            </when>
            <otherwise>
                <include refid="Common_Find" />
                <if test="offset != null and size != null">
                    limit ${offset}, ${size}
                </if>
            </otherwise>
        </choose>
    </select>

    <!-- 统计数量 -->
    <select id="count" parameterType="BaseQuery" resultType="Long">
        select count(tb.id) from ${tableName} tb

        <!-- 添加动态自定义查询条件 -->
        <include refid="Common_Where" />
    </select>

    <!-- 统计数量 -->
    <select id="sum" parameterType="BaseQuery" resultType="Long">
        select sum(tb.${sumFieldName}) from ${tableName} tb

        <!-- 添加动态自定义查询条件 -->
        <include refid="Common_Where" />
    </select>
</mapper>